/*Document wide CSS*/
* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
}

header {
    top: 0;
    position: sticky;
    width: 100%;
}

html, body {
    margin: 0px;
    padding: 0px;
    background-color: #CCC;
}

/*Top nav bar css*/
#nav {
    font-size: 1.1em;
    font-weight: lighter;
    text-align: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

#nav ul {
    padding: 0;
    margin: 0;
}

#nav li {
    display: inline;
    padding: 0 5%;
}

#nav a {
    display: inline-block;
    padding: .5em;
    color: white;
    text-decoration: none;
}

#nav a:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

/*Main page css*/
.index-header {
    background-color: rgba(0, 0, 0, 0.6);
    background-image: url("Images/headerbackground.jpg");
    background-blend-mode: multiply;
    background-size: cover;
    padding-bottom: 1px;
}

.index-header h1 {
    text-align: center;
    color: white;
    font-size: 2.5em;
    padding: 0;
    margin: 10px;
}

.index-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
    height: 100%;
    padding: 0 1.5em;
}

.soar-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 952px;
    margin: 0;
    padding: 0;
}

.music-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 952px;
}

.bike-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 952px;
    height: 100%;
}

.about-header {
    text-align: left;
    color: #333;
    font-size: 2em;
}

.content-section {
    margin: 1em;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 1.5em;
}

/*Projects page css*/
.projects-header {
    background-color: rgba(0, 0, 0, 0.6);
    background-image: url("Images/headerbackground.jpg");
    background-blend-mode: multiply;
    background-size: cover;
    padding-bottom: 0px;
}

.githubProjects {
    margin: 10px 10px;
    padding: 10px 10px;
}

/*Bottom footer css*/
.footer {
    display: block;
    text-align: center;
    background-color: rgba(170, 20, 20, 1);
    color: white;
    position: sticky;
    bottom: 0;
    width: 952px;
    margin-left: auto;
    margin-right: auto;
}

.footer h3 {
    margin: 0px 0px;
    padding: 0 50px;
    font-size: 1.2em;
    color: black;
}

.footer ul {
    padding: 0;
    margin: 0;
}

.footer li {
    display: inline-block;
    padding: 0 3%;
}